@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(218, 244, 255);
}
.container{
    display: flex;
    height: 100vh;
    align-items: center;
}

.hero{
    display: flex;
    width: 80%;
    height: 80vh;
    /* border: 2px solid black; */
    box-shadow: 10px 20px 30px black;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    color: rgb(2, 61, 2);
    text-align: center;
    align-items: center;
    /* border: 1px solid green; */
    width: 40%;
    height:auto;
}

.main h1{
   width:80%;
   font-family:'Zen Tokyo Zoo', cursive;
   text-align: center;
   font-size: 3rem;
   margin-bottom: 20px;
}
.value{
    width:80%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#valueBox{
    font-size:16px;
    width:150px;
    padding: 15px 0;
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
    outline: none;
    background-color: rgb(200, 255, 237);
}

.btn{
    display:inline-block;
    font-size:16px;
    width:150px;
    padding: 15px 0;
    border: 2px solid green;
    border-radius: 10px;
    background-color: rgb(200, 255, 237);
   
}

.btn:hover{
    background-color: rgb(145, 252, 216);
    cursor: pointer;
}

.workArea{
    display: flex;
    align-items: center;
    width: 40%;
    height: 80%;
    border: 2px solid rgb(122, 122, 122);
    

}

#table{
    display: flex;
    font-size: 1.5rem;
    width:50%;
    height: 80%;
    margin: auto;
    justify-content:center;
    align-items: center;
    /* border: 1px solid red; */
}

